extends layout

block content
  nav(class="navbar navbar-inverse visible-xs" data-spy="affix" data-offset-top="100")

    div(class="container-fluid")
      div(class="navbar-header")
        button(class="navbar-toggle" type="button" data-toggle="collapse" data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Logo
      div(class="collapse navbar-collapse" id="myNavbar")
        ul(class="nav navbar-nav")
          li.active
            a(href="#") #{title}
          li
            a(href="#") #{title}
          li
            a(href="#") #{title}
          li
            a(href="#") #{title}

  div(class="container-fluid")
    div(class="row content")
      div(class="col-sm-3 sidenav hidden-xs" data-spy="affix")
        h2 Relatórios
        ul(class="nav nav-pills nav-stacked" )
          li.active
            a(href="#section1") #{title}
          li
            a(href="#section2") #{title}
          li
            a(href="#section3") #{title}
          li
            a(href="#section4") #{title}
      div(class="col-sm-9")
        for columns in rows
          div.row
            div.col-sm-6
              div.well 
                h4 valor: 
                p #{columns.valor} 
            div.col-sm-6 
              div.well 
                h4 data: 
                p #{columns.data} 